@use "./values.scss" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
  background: $white-color;
  color: $dark-color;
  display: flex;
  flex-direction: column;

  header,
  main,
  footer {
    position: relative;
    z-index: 1;
  }

  main {
    flex-grow: 1000;
  }
}

/** attribute values */
.color-green {
  color: $green-color;
}
.pink-green {
  color: $pink-color;
}
