@use "./values.scss" as *;

body {
  header,
  footer {
    background: $dark-color;
    opacity: 0.9;
    color: $white-color;
  }

  header {
    img {
      border-radius: 50%;
    }
  }

  .background {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/imgs/background.png");
    background-size: 100% 100%;
    min-width: 1600px;
    min-height: 902px;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 0;
    top: 0px;
    left: 0px;
  }
}
