/** colors */
$white-color: #fff;
$bright-color: #ddd;
$light-color: #ccc;
$gray-color: #bbb;

$black-color: #000;
$dark-color: #252525;
$pitch-color: #364150;
$chocolate-color: #797c7e;

$yellow-color: #f7ca18;
$ground-color: #b8c840;
$gold-color: #f3c200;
$brown-color: #c49f47;

$blue-color: #007bff;
$sky-color: #3598dc;
$water-color: #5c9bd1;
$sea-color: #578ebe;
$bit-sea-color: #5b8e91;

$red-color: #b13814;
$scarlet-color: #ef4836;
$crimson-color: #e7505a;
$pink-color: #f36a5a;

$green-color: #1bbc9b;
$grass-color: #418a1c;
$moss-color: #26c281;
$verdure-color: #4caf50;
